/* Common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
body{
    overflow-x: hidden;
}
/* Navbar css start */
.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #7c6f35;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
   padding-left: 0px;
   padding-right: 0px;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   text-transform: capitalize;
   position: relative;
   transition: all linear 0.5s;
   
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #fec600;

}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fec600;
    transform-origin:right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after{
    /* width: 100%; */
    transform-origin:left;
    transform: scaleX(1)
}
/* Banner css start */
#banner-part .banner{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    padding-top: 246px;
    padding-bottom: 189px;
    position: relative;
    z-index: 1;
    /* clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%); */
}
.banner:after {
    content: "";
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
} 
.banner_text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #ffffff;
    padding-bottom: 20px;
}

.banner_text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: #fec600;
    text-transform: uppercase;
    padding-bottom: 30px;
}

 .banner_text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 4px;
    color: #f1f1f1;
    line-height: 24px;
    padding-bottom: 60px;
 }
 .banner_text a{
    width: 130px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 20px 0;
    margin-right: 14px;
    transition: all linear 0.5s;
 }
 .banner_text a:hover{
    background: #fec600;
    border-color: #fec600;
    color: #000;
 }
 .banner-shape{
    position: relative;
 }
 .bannerShape {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: #fff;
    transform: skewX(-86deg);
    transform-origin: left bottom;
}
/* About css start */
.common-title{
    padding-bottom: 58px;
}
.common-title h3{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #111111;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.common-title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    line-height: 24px;
}
.about-top{
    width: 100%;
    padding: 40px 30px 47px;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}
.about-top h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.about-top p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    line-height: 24px;
}
.about-top .shape{
    position: absolute;
    bottom: -17px;
    left: 50%;
    width: 35px;
    height: 35px;
    background: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-top-parent .round{
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #353535;
    transform: translateX(-50%);
    transition: all linear 0.5s;
}
.about-top-parent{
    position: relative;
}
.about-top:hover{
    filter: drop-shadow(1px 0px 5px #d1d1d1);
}
.about-top:hover ~ .round{
    background: #fec600;
}
.about-left{
    width: 100%;
    padding: 40px 30px 47px;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}
.about-left h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.about-left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    line-height: 24px;
}
.about-left .shape{
    position: absolute;
    top: 50%;
    right: -18px;
    width: 35px;
    height: 35px;
    background: #eeeeee;
    transform: translateY(-50%) rotate(45deg);
}
.about-left-parent .round {
    position: absolute;
    top: 50%;
    right: -61px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #353535;
    transform: translateY(-50%);
    transition: all linear 0.5s;
}
.about-left-parent{
    position: relative;
}
.about-left:hover{
    filter: drop-shadow(1px 0px 5px #d1d1d1);
}
.about-left:hover ~ .round{
    background: #fec600;
}
.about-middle{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid #464646;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
}
.about-middle .circle{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.about-middle .circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-middle .circle:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.about-right{
    width: 100%;
    padding: 40px 30px 47px;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}
.about-right h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.about-right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    line-height: 24px;
}
.about-right .shape{
    position: absolute;
    top: 50%;
    Left: -18px;
    width: 35px;
    height: 35px;
    background: #eeeeee;
    transform: translateY(-50%) rotate(45deg);
}
.about-right-parent .round {
    position: absolute;
    top: 50%;
    left: -61px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #353535;
    transform: translateY(-50%);
    transition: all linear 0.5s;
}
.about-right-parent{
    position: relative;
}
.about-right:hover{
    filter: drop-shadow(1px 0px 5px #d1d1d1);
}
.about-right:hover ~ .round{
    background: #fec600;
}
.about-bottom{
    width: 100%;
    padding: 40px 30px 47px;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}
.about-bottom h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.about-bottom p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    line-height: 24px;
}
.about-bottom .shape{
    position: absolute;
    top: -17px;
    left: 50%;
    width: 35px;
    height: 35px;
    background: #eeeeee;
    transform: translateX(-50%) rotate(45deg);
}
.about-bottom-parent .round{
    position: absolute;
    top: -60px;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #353535;
    transform: translateX(-50%);
    transition: all linear 0.5s;
}
.about-bottom-parent{
    position: relative;
}
.about-bottom:hover{
    filter: drop-shadow(1px 0px 5px #d1d1d1);
}
.about-bottom:hover ~ .round{
    background: #fec600;
}

/* Portfolio css start */
.portfolio{
    background: url(../images/gallery-banner.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
}
.portfolio::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.portfolio .common-title h3{
    color: #fff;
}
.portfolio .common-title p{
    color: #fff;
}
#portfolio-part .img-item img{
    width: 100%;
}
#portfolio-part .img-item .img-margin{
    margin-bottom: 30px;
}
/* Service css start */
#service-part{
    position: relative;
    padding-top: 88px;
    padding-bottom: 88px;
}
.up-btn{
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform:translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #222222;
    text-align: center;
    line-height: 40px;
    transition: all linear 0.5s;
}
.up-btn:hover{
    background: #fec600;
    border-color: #fec600;
}
.down-btn{
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform:translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #222222;
    text-align: center;
    line-height: 40px;
    transition: all linear 0.5s;
}
.down-btn:hover{
    background: #fec600;
    border-color: #fec600;
}
.chain{
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
}
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sevice-left{
    width: 40%;
}
.sevice-left h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    text-transform: uppercase;
}
.sevice-center {
    width: 10%;
}
#service-part .service .sevice-center img {
    height: 38px;
    width: auto;
}
.service-img{
    width: 70px;
    height: 70px;
    background: #eee;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
}
.service-right{
    width: 40%;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}
.service-right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
    line-height: 24px;
    padding: 56px 30px 54px;
}
.service-inner:nth-child(odd) .service .service-right .service-shape {
    position: absolute;
    top: 50%;
    left: -14px;
    width: 30px;
    height: 30px;
    background: #eeeeee;
    transform: translateY(-50%) rotate(45deg);
}
.service-inner:nth-child(even) .service{
    flex-direction: row-reverse;
}
.service-inner:nth-child(even) .service .sevice-left h4{
    text-align: start;
}
.service-inner:nth-child(even) .service .service-right .service-shape {
    position: absolute;
    top: 50%;
    right: -14px;
    width: 30px;
    height: 30px;
    background: #eeeeee;
    transform: translateY(-50%) rotate(45deg);
}
#service-part .slick-slide img {
    display: inline-block;
}
.service-inner.slick-center .service .service-img{
    transform: scale(1.3);
    background: #fec600;
    transition: all linear 0.5s;
}
#service-part .slick-center .service-right {
    filter: drop-shadow(0px 2px 3px #bdb3b3);
}